@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  background-color: #ffffff;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Varela Round', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
.Navbar {
  background-color: rgb(245, 245, 245) !important;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  flex: 1;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  overflow: hidden;
}

.title {
  font-family: 'Varela Round';
  font-weight: 700;
  color: rgb(100, 100, 100) !important;
}

.fa-lungs-virus {
  transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  -webkit-transition: color 1s ease-out;
}

.title:hover > .fa-lungs-virus {
  color: rgb(0, 165, 82);
}

.navWidth {
  width: 100%;
}

.navIcons {
  color: rgb(100, 100, 100);
}

.navIcons:hover {
  color: rgb(0, 165, 82);
}

.navIconsSpan {
  color: rgb(61, 61, 61);
  margin-left: 10px;
}

/* ToolTip */
.myToolTip .fa-github-square {
  color: rgb(255, 255, 255) !important;
}

.myToolTip > .tooltip-inner {
  background-color: rgb(0, 165, 82);
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  border: 1px solid rgb(0, 165, 82);
}

/* Tooltip Arrow */
.myToolTip > .bs-tooltip-auto[x-placement^='bottom'] span.arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom: 5px solid rgb(0, 165, 82) !important;
}
/* Navbar END */

/* Countries Section */
.countriesSection {
  position: relative;
  box-sizing: border-box;
  margin: 5px 0 0 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 90px;
  border-radius: 5px;
  text-align: center;
  z-index: 100;
}

.countriesDopdown {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left !important;
}

/* Search Select */
/* On Focus */
.css-1pahdxg-control {
  border-color: rgba(194, 194, 194, 0.356) !important;
  box-shadow: 0 1px 2px 0 rgb(131, 131, 131) !important;
  cursor: pointer !important;
}
.css-yk16xz-control {
  border-color: rgba(240, 240, 240, 0.356) !important;
  box-shadow: 0 1px 2px 0 rgb(177, 177, 177) !important;
  cursor: pointer !important;
}
/* Select Elements */
/* Selected */
.css-4ljt47-MenuList {
  font-family: 'Varela Round';
  text-align: left !important;
}

.css-yt9ioa-option {
  cursor: pointer !important;
}

.css-9gakcf-option {
  background-color: rgb(0, 165, 82) !important;
  cursor: pointer !important;
}

/* Hover */
.css-1n7v3ny-option {
  background-color: rgba(203, 255, 223, 0.685) !important;
  cursor: pointer !important;
}

/* Flag */
.flag {
  width: 23px;
  margin-right: 10px;
}

/* Last Update */
.lastUpdate {
  text-align: left;
  margin: 10px 0 0 0;
  color: rgb(160, 160, 160);
  font-size: 0.8rem;
}

.lastUpdate i {
  margin-right: 5px;
}

.lastUpdate span {
  color: rgb(0, 165, 82);
  margin-left: 5px;
}

/* Mid Section */
.MidSection {
  width: 100% !important;
  height: fit-content;
}

.rowPadding {
  padding: 0 15px !important;
}

.noPadding {
  padding: 5px 2px !important;
}

/* WWStats */
.WWStats {
  height: fit-content;
  width: fit-content;
  margin: 5px auto;
  /* border: 1px #d6d6d6 solid; */
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.countryFlag{
  width: 55px;
  margin-right: 10px;
  border-radius: 3px;
}

.WWStatsHeader {
  font-family: 'Varela Round';
  color: #4e4e4e;
  font-weight: bold;
  font-size: 2rem;
}

.WCDR {
  display: block;
  box-sizing: border-box;
  text-align: center;
  display: block;
  font-family: 'Varela Round' !important;
  font-size: 1.1em;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.829);
  margin: 40px 0 15px 0 !important;
}

.WWCases {
  color: rgb(255, 255, 255);
  display: inline-block;
  text-align: left;
  background-color: #4d4d4d;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 32px -10px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 32px -10px rgb(0, 0, 0);
  box-shadow: 0px 0px 32px -10px rgb(0, 0, 0);
}

.WWIcons {
  display: block;
  font-size: 1.1rem;
  margin: 5px 0;
  display: block;
}

.WWDeaths {
  text-align: left;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0 40px !important;
  background-color: #d32a41;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 32px -10px rgba(255,0,0,1);
  -moz-box-shadow: 0px 0px 32px -10px rgba(255,0,0,1);
  box-shadow: 0px 0px 32px -10px rgba(255,0,0,1);
}

.WWRecovered {
  text-align: left;
  color: #ffffff;
  background-color: rgb(25, 173, 87);
  display: inline-block;
  margin: 0 40px 0 0 !important;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 32px -10px rgb(0, 255, 85);
  -moz-box-shadow: 0px 0px 32px -10px rgb(0, 255, 85);
  box-shadow: 0px 0px 32px -10px rgb(0, 255, 85);
}

.WWTests {
  text-align: left;
  color: #ffffff;
  background-color: rgb(119, 45, 204);
  display: inline-block;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 32px -10px rgb(119, 45, 204);
  -moz-box-shadow: 0px 0px 32px -10px rgb(119, 45, 204);
  box-shadow: 0px 0px 32px -10px rgb(119, 45, 204);
}

.WWtodayResults {
  color: rgb(255, 255, 255);
  margin-left: 3px;
  padding: .5px 2px;
  font-size: 0.6rem;
  vertical-align: middle;
  background-color: #c92137;
  border-radius: 3px;
  border: 1px #ff5050 solid;
}
/* Map */
.GlobalMap {
  width: 100%;
  height: 450px;
  position: relative;
  margin: 0;
}

.mapHeader,
.countriesListHeader {
  color: #3b3b3b;
  font-family: 'Varela Round';
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0 0 3px 10px !important;
  padding: 0 !important;
}

.mapHeader i,
.countriesListHeader i {
  margin-right: 5px;
}

.map {
  border-radius: 5px !important;
  position: relative;
  -webkit-box-shadow: 0 10px 6px -6px rgb(170, 170, 170);
  -moz-box-shadow: 0 10px 6px -6px rgb(170, 170, 170);
  box-shadow: 0 10px 6px -6px rgb(170, 170, 170);
}

/* Popup */
.circle {
  color: #ff3939;
  opacity: .8;
}
.circle:hover {
  color: #ff3939;
  opacity: 1;
}

/* Popup */
.selectedCircle {
  color: #10da75;
}

.mapboxgl-popup-content {
  background-color: rgb(0, 0, 0) !important;
  padding: 5px !important;
  margin: 0 !important;
  height: fit-content !important;
}

.mapboxgl-popup-tip {
  display: none;
}

.popupHeader {
  margin: 0 0 6px 0 !important;
  padding: 0 !important;
  color: rgb(194, 194, 194);
  font-size: 1.2rem;
  vertical-align: middle !important;
}

.popupHeader img {
  margin: 0 3px 0 0 !important;
  padding: 0 !important;
  width: 45px !important;
  height: 27px !important;
  border-radius: 2px;
  border: 1px rgba(238, 238, 238, 0.315) solid;
}

.popupCases {
  margin: 0 0 6px 0 !important;
  padding: 0 !important;
  color: #ec9a00;
  font-size: 0.9rem;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}

.popupDeaths {
  margin: 0 0 6px 0 !important;
  padding: 0 !important;
  color: #ff2845;
  font-size: 0.9rem;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}

.popupRecovered {
  margin: 0 !important;
  padding: 0 !important;
  color: #00dd81;
  font-size: 0.9rem;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}

/* All Countries List */
/* Spinner */
.countriesListContainer {
  height: 450px !important;
}

.AllCountriesList {
  height: 100% !important;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2px 4px;
  margin: 0;
  position: relative;
  background-color: white;
  border: 2px rgb(240, 240, 240) solid !important;
  -webkit-box-shadow: 0 10px 6px -6px rgb(170, 170, 170);
  -moz-box-shadow: 0 10px 6px -6px rgb(170, 170, 170);
  box-shadow: 0 10px 6px -6px rgb(170, 170, 170);
  cursor: pointer !important;
}

.Spinner {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* List */
.CountryListItem {
  width: 100%;
  padding: 4px;
  margin: 2px 0 4px 0;
  border-radius: 5px;
  background-color: #fdfdfd;
  border: 1px rgb(250, 250, 250) solid !important;
  box-shadow: 0 1px 2px 0 rgb(131, 131, 131) !important;
}

.flagAndTitle {
  position: relative;
  display: inline-block;
  height: 30px;
}

.CountryName {
  font-size: 1.2rem;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle !important;
  margin: 0;
  color: #4e4e4e;
}

.CountryListItem img {
  height: 70%;
  width: 35px;
  margin-right: 10px;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: 0 1px 2px 0 rgb(131, 131, 131) !important;
}

.CountryListItem i {
  margin-right: 5px;
}

/* Cases/ Deaths/ Recovered/ Tests */
.CDR {
  display: block;
  box-sizing: border-box;
  margin: 4px 0 0 0;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 0.9em;
}

.Cases {
  color: rgb(60, 60, 60);
  display: inline-block;
  text-align: center;
}

.Cases i {
  display: block;
  font-size: 1.1rem;
  margin: 2px 0;
}

.Deaths {
  color: rgb(241, 81, 81);
  display: inline-block;
  text-align: center;
  margin: 0 10px 0 15px !important;
}

.Deaths i {
  display: block;
  font-size: 1.1rem;
  margin: 2px 0;
}

.Recovered {
  color: rgb(25, 173, 87);
  display: inline-block;
  text-align: center;
  margin: 0 15px 0 10px !important;
}

.Recovered i {
  display: block;
  font-size: 1.1rem;
  margin: 2px 0;
}

.Tests {
  color: rgb(119, 45, 204);
  display: inline-block;
  text-align: center;
}

.Tests i {
  display: block;
  font-size: 1.1rem;
  margin: 2px 0;
}

.todayResults {
  color: rgba(255, 0, 64, 0.788);
  margin-left: 3px;
  font-size: 0.6rem;
  vertical-align: middle;
}

/* Stats */
.currentCountryStats {
  height: 350px !important;
  width: 100% !important;
  border-radius: 5px;
  margin: 30px 0 15px 0;
  background-color: white;
  border: 1px rgb(250, 250, 250) solid !important;
  box-shadow: 0 1px 2px 0 rgb(131, 131, 131) !important;
}

/* ScrollBar*/
::-webkit-scrollbar {
  width: 4px !important;
}

/* Track */

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border-radius: 20px !important;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(0, 190, 79);
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 92, 38);
}
